{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Document</title>

</head>

<body width="100%"
    style="margin: auto; padding: 0 ; margin: auto; background-color: #f3f9ff;background-image: url('https://fds-s3.s3.us-east-1.amazonaws.com/media/image/profile/bg.png');background-repeat: no-repeat; font-family: Arial;">
    <table style="padding: 50px 0px 0px 0px; width: 100%; max-width: 600px; margin: 0 auto;">
        <tr>
            <td
                style="width: 100%; max-width: 600PX;  background: #FFFFFF;border: 1px solid #CCE4FF;border-radius: 15px;">
                <table style="background-color:#FFFFFF; padding: 25px 40px; ">
                    <tr>
                        <td align="center" style="margin-top: 0px;">
                            <a href="#"><img src="https://fds-s3.s3.us-east-1.amazonaws.com/media/image/profile/logo.png" alt=""></a>
                    </tr>
                    <tr>
                        <td align="center" style="margin: 0px;">

                            <h5 style="margin: 0px; font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 22px;
                                    line-height: 25px;
                                    text-align: center;
                                    color: #0C1828;">Thanks for subscribing!</h5>
                            <p style=" font-family: 'Arial';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 17px;
                            text-align: left;
                            letter-spacing: 0.01em;
                            margin: 35px 0px 0px 0px;
                            color: #3D4653;;">Hi {{ owner_name }},</p>
                            <p style="font-family: 'Arial';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 19px;
                            margin: 15px 0px 0px 0px;

                            text-align: left;
                            letter-spacing: 0.01em;
                            color: #3D4653;">I hope this email finds you well. On behalf of the entire team at Fusion
                                Data Secure, I want to extend a warm welcome and thank you for subscribing to our
                                services! We have successfully received your payment of ${{ amount }}, and we're thrilled to
                                have the opportunity to serve you.
                            </p>
                            <p style="font-family: 'Arial';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 19px;
                            margin: 15px 0px 0px 0px;

                            text-align: left;
                            letter-spacing: 0.01em;
                            color: #3D4653;">With our monthly plan, you can access our comprehensive Data Privacy
                                Protection Services, which will help you secure your personal and business data against
                                potential threats. Our top-notch security measures and proactive monitoring tools ensure
                                your sensitive information stays safe and secure.
                            </p>
                            <p style="font-family: 'Arial';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 13px;
                                line-height: 19px;
                                text-align: left;
                                margin: 15px 0px 0px 0px;

                                letter-spacing: 0.01em;
                                color: #3D4653;">You will have access to our state-of-the-art tools and support from
                                our team of experts, who are always available to help you with any questions or
                                concerns.
                                We are confident that our services will meet and exceed your expectations, and we look
                                forward to helping you safeguard your digital life.</p>

                        </td>
                    </tr>

                    <tr>
                        <td>

                            <p style="font-family: 'Arial';
                                        font-style: normal;
                                        font-weight: 500;
                                        font-size: 13px;
                            margin: 15px 0px 0px 0px ;

                                        line-height: 19px;
                                        letter-spacing: 0.01em;
                                        color: #3D4653; ">
                                If you have any concerns about your renewal, please don't hesitate to contact us. We're
                                always here to help and support you in any way we can.
                            </p>

                            <p style="font-family: 'Arial';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 19px;
                            letter-spacing: 0.01em;
                            margin: 15px 0px 0px 0px ;
                            color: #3D4653;">Best regards,</p>

                            <p style="font-family: 'Arial';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 13px;
                            line-height: 19px;
                            margin: 4px 0px 0px 0px;
                            letter-spacing: 0.01em;
                            color: #3D4653;">Fusion Data Secure Team</p>


                            <p style="font-family: 'Arial';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 11px;
                                    line-height: 16px;
                                    text-align: center;
                                    margin-top: 20px;
                                    margin-bottom: 0;
                                    border-top: 1px solid #F3F4F5;
                        padding-top: 20px;
                                    color: #868C94;">
                                Contact our customer support team anytime if you have any questions.
                            </p>

                        </td>
                    </tr>
                </table>
            </td>



        </tr>

        <table style=" margin: auto; width: 100%; max-width: 600px;  padding: 20px 0px 0px 0px;">
            <tr>
                <td>
                    <a href="#" style="font-family: 'Arial';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 12px;
                    text-decoration: none;
                   
                    letter-spacing: 0.01em; 
                    color: #8E9697;">Terms of use</a>
                    <span
                        style="width: 4px; height: 4px; background: #8E9697; border-radius: 100%;  margin: 0 10px; display: inline-block; vertical-align: middle;"></span>
                    <a href="#" style="font-family: 'Arial';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 12px;
                    text-decoration: none;
                   
                    letter-spacing: 0.01em; 
                    color: #8E9697;">Privacy Policy</a>
                </td>

                <td style="text-align: right;">
                    <a href="#" style="font-family: 'Arial';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 11px;
                    text-decoration: none;
                    line-height: 13px;
                    text-align: right; 
                    color: #6283DC;"> customer-support@fusiondatasecure.com</a>
                </td>
            </tr>
        </table>

    </table>

</body>

</html>
